
body {
	background-color: black;
}
		
/* From https://stackoverflow.com/a/14696457/1070904 */
* {
    margin: 0;
    padding: 0;
}

#card {
    display: grid;
    height: 100%;
    position: relative;
}

.content {
    position: absolute;
    top: 20%;
    left: 20%;
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

h1 {
    margin-top:15vh;
    text-align: center;
    color: red;
    font-size: 10vh;
}

p {
    margin-top:auto;
    color: green;
    font-size: 5vh;
}

ol {
    color: green;
    font-size: 5vh;
}

img {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}
