
body {
  background-color:white;
}


h1 {
  color:green;
  font-size:60px;
  text-align:center;
  font-family:Arial;
  text-decoration: underline;
  border-style: solid;
  border-width: 10px;
  border-radius: 50px;
  border-color: blue;
  padding-bottom: 10px;
}

div.parts {
   display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.parts div {
  font-size:256px;
  border-style: solid;
  text-align:center;
  border-width: 10px;
  margin: 15px;
  padding-right: 15px;
  padding-left: 15px;
  
}

div.done {
  background-color:green;
}

div.active {
  background-color:blue;
}

div.updating {
  background-color:yellow;
}

a {
  color: inherit;
  background-color: inherit;
  text-decoration: inherit; 
}

