
body {
  background-color:aqua;
}


h1 {
  color:red;
  font-size:60px;
  text-align:center;
  font-family:Arial;
  text-decoration: underline;
}

p#intro {
  font-style: italic; 
}

p#important {
  font-weight: bold;
}

a.prodjectLetter {
  font-size:40px;
  text-decoration: none;
}

div.despricpionOfProdject {
  font-size:20px;
}

footer {
 font-style: italic; 
}
