
body {
  background-color:black;
  color:green;
}


h1 {
  color:blue;
  font-size:100px;
  text-align:center;
  font-family:Arial;
  text-decoration: underline;
}

p#intro {
  font-style: italic; 
}

p#important {
  font-weight: bold;
}

a.prodjectLetter {
  color:red;
  font-size:40px;
  text-decoration: none;
}

div.despricpionOfProdject {
  font-size:20px;
}

footer {
 font-style: italic; 
}

body div {
  text-align:center;
}